* {
  font-family: Helvetica;
  text-align: center;
}

/* Title Banner */
.title_banner * {
  background-image: url("../images/the-flatiron-building.png");
  color: white;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

.title_banner p {
  font-size: 18px;
}

/* Body */
.process h2 {
  font-size: 32px;
  font-weight: bold;
}

.process h3 {
  font-size: 23px;
  font-weight: bold;
}

.process p {
  font-size: 14px;
}

.subhead {
  background-image: url("../images/the-flatiron-building.png");
  font-size: 23px;
  font-weight: bold;
  color: white;
}

.copyright * {
  color: white;
  text-align: left;
  background-color: dimgray;
}

.copyright p {
  font-size: 11px;
}
